
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <!--Header Page Section-->
        <div class="page-title">
            <h3>Customer</h3>
            <div class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Edit</li>
                </ol>
            </div>
        </div>
        <!--Body Section Anything You Used-->
        <div class="col-md-8">
            <div class="panel panel-white">
                
            </div>
        </div>
    </div>
</div>
